
html, body
{
 background-color: #ffe8df;  
}

img.logoPrincipal{
    width: 60px;
    height: 60px;
}

img#logoAbout{
    width: 50px;
    height: 50px;
}

.carousel.slide {
    margin-top: 10%;
}

.header{
left:0px;
top:0px;
width:100%;
}

.footer{
  background-color: #ad6989 !important;
  height: 10vh;
  width: 100%;
   position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.navbar-light .navbar-brand{
  color: #562349 !important;
  font-weight: bold;
    font-size: 1.5em;
}

.bg-light {
    background-color: #ad6989!important;
}

a.nav-link {
    color: white !important;
}

button.navbar-toggler.collapsed {
    background: #ffa299 !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
}