
html, body
{
 background-color:rgb(255,232,223); 
}

img.logoPrincipal{
    width: 60px;
    height: 60px;
}

img#logoAbout{
    width: 50px;
    height: 50px;
}



.header{
left:0px;
top:0px;
width:100%;
}

.footer{
background-color: #ad6989 !important;
    height: 10vh;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 1.2em;
    padding: 1%;
}



.navbar-light .navbar-brand{
  color: #562349 !important;
  font-weight: bold;
  font-size: 1.8em !important;
}

.bg-light {
    background-color: #ad6989!important;
}

a.nav-link {
    color: white !important;
}

button.navbar-toggler.collapsed {
    background: #ffa299 !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em !important;
    margin: 5px;
}