body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.home{
     background-image: url(/static/media/logo1.61a4c483.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60%;
    height: 100vh;
    position: relative;
}

h1{
padding: 20px;
text-align: center;
font-size: 40px;
font-weight: bold;
}



@media (min-width: 768px) and (max-width: 1024px){
  .container {
    margin: 2.5rem auto;
  }

  .About, p {
    padding: 3% !important;
}

  .home {
    background-size: 100% !important;
    height: 68vh !important;
}

  .About {
    height: 68vh !important;
}

  .Historias {
    height: 68vh !important;
}

  .footer, a {
    color: white !important;
    font-size: 0.8em;
    padding: 2% !important;
}
.Historias {
    padding: 13px !important;
    height: 100vh !important;
}

}

@media screen and (max-width: 450px) {
     .container {
    margin: 2.5rem auto;
  }
  .About{
    height: 130vh !important
  }

  .home {
    background-size: 100% !important; 
    height: 63vh !important;
    position: relative;
  }

  .footer, a {
    color: white !important;
    font-size: 0.8em;
    padding: 2% !important;
}

.Historias {
    padding: 10px !important;
    height: 250vh !important;
}

}

  .About,p{
     margin-top:2%;
    font-size: 1em;
    text-align: center;

  }

  .About{
   height: 60vh !important;
    padding: 3px;
  }

a {
    color: white;
    text-decoration: none;
   
    font-weight: bold;
    background-color: transparent;
}



h2{
font-size: 2.5em;
    text-align: center;
    margin: 8%;
}


